apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
spec:
  tls:
    - hosts:
        - dev.playbuilder.xyz
        - custody-dev.playbuilder.xyz
        - datalab-dev.playbuilder.xyz
      # secretName 없음 = NGINX 기본 인증서 사용 (Cloudflare가 Origin 인증서 검증 안함)
  rules:
    # 1. 메인 도메인
    - host: dev.playbuilder.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: app-svc
                port:
                  number: 80
    # 2. [추가] Custody 서브도메인
    - host: custody-dev.playbuilder.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: app-svc # 원래는 custody-svc
                port:
                  number: 80
    # 3. [추가] Datalab 서브도메인
    - host: datalab-dev.playbuilder.xyz
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: app-svc # 원래는 datalab-svc
                port:
                  number: 80
